# Dependencies
node_modules/
.pnpm-debug.log

# Environment variables (Security)
# We ignore the real .env files but NOT the .env.example files
.env
.env.local
.env.test

# Prisma generated client
# This is generated on each machine via pnpm exec prisma generate
/services/**/src/infrastructure/generated/

# Local databases and logs
*.db
*.db-journal
logs/
*.log

# Compilation and cache
dist/
build/
.tsx/

# IDEs and System files
.vscode/
.idea/
.DS_Store
Thumbs.db